<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Final Project Plan</title>
<!--    <link rel="stylesheet" type="text/css" href="css/style.css">-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
	</head>

<body>
	<h1> Final Project: King's Cuts</h1>
	<h2> Taylor Albus (tma30) + Cameron King (ck198)</h2>
	<div id="app">
		<button @click="nextpage">Next Page</button>
			<div v-if="page == 1">
				<h3>Page 1</h3> 
			</div>

			<div v-if="page==2">
				<h3>Page 2</h3>
			</div>

			<div v-if="page==3">
				<h3>Page 3</h3>
			</div>

			<div v-if="page==4">
				<h3>Page 4</h3>
			</div>
	</div>
	
	
</body>
	
	
	
</html>

<script>
var app = new Vue({
	el: '#app',
	data: function () {
    	return {
      		page: 1
    	}
  	},
	methods: {
		nextpage: function() {
			if (this.page < 4) {
				this.page++;
			}
			else {
				this.page=1;
			}
		}
	}
})

</script>


<style>
	
	* {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
	}

	body {
		background-color: lightpink;
		width: 100%;
		margin: auto;
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
	}
	button {
		position: relative;
		height: 25%;
		width: 100%;
		color: black;
		background-color: pink;
		font-size: 25px;
	}
	h1, h2{
		text-align: center;
	}



</style>