<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Final Project Plan</title>
<!--    <link rel="stylesheet" type="text/css" href="css/style.css">-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
	</head>

<body>
	<h1> Final Project: King's Cuts</h1>
	<h2> Taylor Albus (tma30) + Cameron King (ck198)</h2>
	<div id="app">
		<button @click="nextpage">Next Page</button>
			<div v-if="page == 1">
				<h3>Page 1</h3> 
				<h1>Final Topic</h1>
        		<h2>Problem</h2>
        		<p>When you’re out of town or new to town, it’s hard to find a good, reliable barber/hair stylist. College students have to search through Google Maps and Yelp to get ratings, price, and locations - and even then you don’t know if those people have similar preferences as you do. </p>
				<h2>Solution</h2>
        		<p>A web application that pools all barbers/hair stylists in an area and shows them on a map for convenience. The user can see the cost, set up an appointment, and get directions. There would be an option open up the location in maps or Uber/Lyft to the barbershop. Ratings would be crowdsourced, and people can upload photos of their cuts from that location - and an Instagram-type feed with photos and links to the barbers. Ratings could be sorted by distance, price, or based on the profiles of the reviewers, like their age. There would be a dashboard for the user (with login) to see their appointment time, past barbers, and transaction history.</p>
			</div>

			<div v-if="page==2">
				<h3>Page 2</h3>
				<h1>Different Modes:</h1>
				<h3>Guest mode:</h3>
				 
				<li>Guests can look at reviews of shops in the area</li>
				<li>They can look at images that people have submitted</li>
				<li>They cannot bookmark/save any places until they make an account and save that in their profile</li>
				<li>Certain features won’t be visible because they’re in guest mode like saving salons, etc </li>

				<h3>User mode:</h3> 
				<li>Can see posts/reviews made by other people</li>
				<li>Can save hair salons</li>
				<li>Choose from available times that the stylists have and make an appointment there</li>
				<li>Stylist can accept or decline the offer</li>
				<li> View History</li>

				<h3>Business mode:</h3>
				<li>Stylists can set times that they are available</li>
				<li>They can post and view other content</li>
				<li>They can manually add appointments to the calendar</li>

				<h3>Admin mode:</h3>
				<li>Supervises events </li>
				<li>Takes complaints </li>
				
			</div>

			<div v-if="page==3">
				<h3>Page 3</h3>
				<h1> Wireframes:</h1>
				
				<img src="img/1.jpeg"> 
				<img src="img/2.jpeg"> 
				<img src="img/3.jpeg"> 
				<img src="img/4.jpeg"> 
				<img src="img/5.jpeg"> 
			</div>

			<div v-if="page==4">
				<h3>Page 4</h3>
				<h1> Storing Information (Draft)</h1> 
					<h3> Business Side:</h3>
					<pre> 
						[
							{
								"username": "johnscuts21",
								"location": "SuperCuts",
								"address": "111 Street, Durham, NC",
								"history": [
									{
										"customer": "camking",
										"rating": 9,
										"image": "link to url"
									},
									{
										"customer": "joejoe1",
										"rating": 8,
										"image": "link to url"
									}
								]
							},
							{
								"username": "lisassalon",
								"location": "Beauty Works",
								"address": "838 Avenue, Durham, NC",
								"history": [
									{
										"customer": "tayloralbus",
										"rating": 10,
										"image": "link to url"
									},
									{
										"customer": "joshua8",
										"rating": 9,
										"image": "link to url"
									}
								]
							}

					]	
				</pre>

				<h3> User Side:</h3>
					<pre> 
					[
						{
							"username": "camking",
							"age": 19,
							"gender": "male",
							"history": [
								{
									"stylist": "johnscuts21",
									"review": "He did a really good job!! Way better than the last person",
									"rating": 9,
									"image": "link to url"
								},
								{
									"stylist": "billshair",
									"review": "Cut my hair shorter than I asked, didn't look good",
									"rating": 6,
									"image": "link to url"
								}
							]
						},
						{
							"username": "tayloralbus",
							"age": 20,
							"gender": "male",
							"history": [
								{
									"stylist": "lisassalon",
									"review": "She gave me an amazing perm!",
									"rating": 10,
									"image": "link to url"
								},
								{
									"stylist": "gregcuts101",
									"review": "Was a pretty good hair cut, but I wanna find someone more personable",
									"rating": 8,
									"image": "link to url"
								}
							]
						}

				]
			</pre>
		</div>
		
		<div v-if="page==5">
			<h3>Page 5</h3> 
			<h1>Implementation</h1>
		</div>
	</div>
	
	
</body>
	
	
	
</html>

<script>
var app = new Vue({
	el: '#app',
	data: function () {
    	return {
      		page: 1
    	}
  	},
	methods: {
		nextpage: function() {
			if (this.page < 5) {
				this.page++;
			}
			else {
				this.page=1;
			}
		}
	}
})

</script>


<style>
	
	* {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
	}

	body {
		background-color: lightpink;
		width: 65%;
		margin: auto;
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		margin-bottom: 35px;
	}
	button {
		position: relative;
		height: 25%;
		width: 100%;
		color: black;
		background-color: pink;
		font-size: 25px;
	}
	h1, h2, h3{
		text-align: center;
	}
	
	img{
		width: 45%;
		margin: 10px;
	}
	

</style>